ksc-matsushita-webapi1/Connected Services/EnterpriseService/Enterprise_1_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://enterprise.yzk.ranalex.com" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://enterprise.yzk.ranalex.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>EnterpriseService</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns="http://enterprise.yzk.ranalex.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://enterprise.yzk.ranalex.com">
      <xs:element name="service">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="ns0:DataAccess" />
          </xs:sequence>
          <xs:attribute name="clientId" type="xs:string" />
          <xs:attribute name="requestId" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="DataAccess">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ns0:daml" />
          </xs:sequence>
          <xs:attribute name="operationId" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="daml" type="xs:string" />
      <xs:element name="serviceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns0:DataAccessResponse" />
            <xs:element minOccurs="0" maxOccurs="1" ref="ns0:Exception" />
          </xs:sequence>
          <xs:attribute name="clientId" type="xs:string" />
          <xs:attribute name="requestId" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="DataAccessResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="ns0:DataTable" />
            <xs:element minOccurs="0" maxOccurs="1" ref="ns0:Exception" />
          </xs:sequence>
          <xs:attribute name="operationId" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="DataTable">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Columns">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Column">
                    <xs:complexType>
                      <xs:attribute name="name" type="xs:string" use="required" />
                      <xs:attribute name="class" type="xs:string" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Rows">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Row">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell">
                          <xs:complexType>
                            <xs:simpleContent>
                              <xs:extension base="xs:string">
                                <xs:attribute name="index" type="xs:integer" use="required" />
                              </xs:extension>
                            </xs:simpleContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="index" type="xs:integer" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="count" type="xs:integer" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Exception" type="xs:string" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="serviceRequest">
    <wsdl:part name="parameters" element="ns0:service" />
  </wsdl:message>
  <wsdl:message name="serviceResponse">
    <wsdl:part name="parameters" element="ns0:serviceResponse" />
  </wsdl:message>
  <wsdl:portType name="EnterpriseServicePortType">
    <wsdl:operation name="service">
      <wsdl:input message="ns0:serviceRequest" />
      <wsdl:output message="ns0:serviceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnterpriseServiceSOAP11Binding" type="ns0:EnterpriseServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="service">
      <soap:operation soapAction="urn:service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnterpriseService">
    <wsdl:port name="EnterpriseServiceSOAP11port_http" binding="ns0:EnterpriseServiceSOAP11Binding">
      <soap:address location="http://10.1.31.127/axis2/services/EnterpriseService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>